Repository hmcts/reform-scan-notification-service, pull requests merged in 2020-03, with the labels that each got.

#8 Set flag to enable aks deployment on staging
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/NotificationServiceHealthTest.java
  src/functionalTest/resources/application.conf
  src/smokeTest/java/uk/gov/hmcts/reform/notificationservice/NotificationServiceHealthTest.java
  src/smokeTest/resources/application.conf
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-8

#9 Add secrets to charts
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-9

#11 Add notifications database secrets
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
  charts/reform-scan-notification-service/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-11

#10 Fix gradle verification tasks
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/SwaggerPublisher.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-10

#12 Add error notification client
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/clients/ErrorNotificationClientTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/notificationservice/Application.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/clients/ErrorNotificationClient.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/clients/ErrorNotificationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/clients/ErrorNotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/clients/ErrorNotificationResponse.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/HttpConfiguration.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-12

#14 add notification queue config
  build.gradle
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/requirements.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
  charts/reform-scan-notification-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-14

#17 disable osba queue for aat and rename queue
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-17

#15 Add flyway config and migration script for notifications table
  Jenkinsfile_CNP
  build.gradle
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/FlywayConfig.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/PendingMigrationException.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V001__Create_notifications_table.sql
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-15

#19 Remove RootController
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/controllers/RootController.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-19

#20 Removed environment config from aat template yaml
  charts/reform-scan-notification-service/values.aat.template.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-20

#18 Add queue message model
  build.gradle
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/common/ErrorCode.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/request/incomming/NotificationMsg.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-18

#23 fix package name
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/NotificationServiceHealthTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-23

#24 Added DEFAULT NOW() to created_at field definition
  src/main/resources/db/migration/V002__Notifications_default_created_at.sql
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-24

#22 Add notification message parser
  build.gradle
  src/main/java/uk/gov/hmcts/reform/notificationservice/exception/InvalidMessageException.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/request/incomming/NotificationMsg.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParser.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParserTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-22

#28 Override key vault for preview otherwise it loads default values yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-28

#27 Add data/jdbc boilerplate
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NewNotification.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/Notification.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationMapper.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationStatus.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-27

#30 Add repo method for pending notifications
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
  src/main/resources/db/migration/V003__Add_index_for_status.sql
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-30

#29 change queue client to IMessageReceiver
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-29

#32 Add mark as sent method for updating notifications after pushing to API
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationStatus.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-32

#26 Notifications repository
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationStatus.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-26

#33 add notification handler
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageHandler.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageMapper.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageMapperTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-33

#36 Add max retry count
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-36

#38 Add mark as failed repository method
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-38

#40 Start using queue config
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-40

#39 fix package name
  src/smokeTest/java/uk/gov/hmcts/reform/notificationservice/NotificationServiceHealthTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-39

#35 Add NotificationService
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationStatus.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-35

#42 Added S2S_URL
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
  charts/reform-scan-notification-service/values.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-42

#37 add notification queue processor
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/notificationservice/exception/UnknownMessageProcessingResultException.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-37

#44 Feature: custom task scheduler
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/SchedulerConfiguration.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-44

#48 add notifications consume task configs
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.aat.template.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
  charts/reform-scan-notification-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-48

#41 Add task for pending notifications
  src/main/java/uk/gov/hmcts/reform/notificationservice/task/PendingNotificationsTask.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/task/PendingNotificationsTaskTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-41

#50 Add Shedlock configuration
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/SchedulerConfigurationTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/SchedulerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/ShedlockConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V004__Add_shedlock_table.sql
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-50

#53 Refactored package request.incomming into in
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/in/NotificationMsg.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageHandler.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageMapper.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParser.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageMapperTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParserTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessorTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-53

#49 add notification task
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/notificationservice/Application.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTaskTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-49

#51 Add configs for pending notifications task
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.yaml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-51

#54 Enable pending notifications task
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/SchedulerConfigurationTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/task/PendingNotificationsTask.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-54

#52 Clean up notification service
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-52

#45 Auth service
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/AuthServiceConfig.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/AuthServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/AuthService.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/UnauthenticatedException.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/AuthServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-45

#43 Added findByFileNameAndService method to NotificationService
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-43

#55 Prepare pipeline for functional tests
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/resources/application.conf
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-55

#60 change queue model
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/in/NotificationMsg.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageMapperTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParserTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-60

#62 add container column to notification table
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NewNotification.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/Notification.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationMapper.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageMapper.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParser.java
  src/main/resources/db/migration/V005__Add_container_column_notifications.sql
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-62

#61 Notification controller
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/ControllerTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/out/NotificationInfo.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/out/NotificationsResponse.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/util/CustomInstantSerializer.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/util/DateFormatter.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/util/CustomInstantSerializerTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-61

#69 Bug: secure feign exceptions with `-1` status
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-69

#73 Replace log pattern-breaking characters
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-73

#72 Changed type of error_description
  src/main/resources/db/migration/V006__Change_error_description_type.sql
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-72

#63 Add functional test: push queue message, await for completion
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/Configuration.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/ProcessNotificationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/QueueMessageDetails.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/QueueMessageHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/RestAssuredHelper.java
  src/functionalTest/resources/application.conf
  src/functionalTest/resources/servicebus/message/valid-notification.json
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-63

#77 Amend secrets used for staging pipelines
  Jenkinsfile_CNP
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-77

#78 Revert changes made to secret names
  Jenkinsfile_CNP
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-78

#76 Make test tools react more humanly
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/ProcessNotificationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/RestAssuredHelper.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-76

#79 use staging queue for testing
  Jenkinsfile_CNP
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.aat.template.yaml
  charts/reform-scan-notification-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-79
