Repository hmcts/reform-scan-notification-service, pull requests merged in 2020-07, with the labels that each got.

#189 Add message id to notifications table
  src/main/resources/db/migration/V008__Add_message_id_column_notifications.sql
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-189

#190 Populate message_id values in the notifications table
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NewNotification.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageHandler.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageMapper.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageMapperTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-190

#192 Update Notification repository to include message_id to the sql
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/Notification.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationMapper.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-192

#195 Populate null message id values and add unique constraint
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/resources/db/migration/V009__populate-message-id-values-add-unique-constraint.sql
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-195

#194 wait some time to process notifications
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.aat.template.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
  charts/reform-scan-notification-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-194

#196 Handle duplicate notification messages
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/exception/DuplicateMessageIdException.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageHandler.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-196

#198 Added comment for log used for alert
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-198

#203 log prefetch count
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-203

#204 Revert "log prefetch count (#203)"
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-204

#205 Bump tomcat 9.0.36 -> 9.0.37
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-205
