Repository hmcts/reform-scan-notification-service, pull requests merged in 2020-06, with the labels that each got.

#170 fix dependabot and suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-170

#177 Amend log entry marking task ending
  src/main/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTask.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-177

#179 add new status manually handled
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationStatus.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-179

#180 Change timestamp format in api endpoints
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/util/DateFormatter.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/util/CustomInstantSerializerTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-180

#182 Restore controller ExceptionHandler
  src/main/java/uk/gov/hmcts/reform/notificationservice/exceptionhandler/ResponseExceptionHandler.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-182

#184 Migrate swagger specs to v3
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/SwaggerPublisher.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/exceptionhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/out/NotificationInfo.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/out/NotificationsResponse.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-184
