Repository hmcts/reform-scan-notification-service, pull requests merged in 2020-09, with the labels that each got.

#236 Disable notifications functional test
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/ProcessNotificationTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-236

#241 Update dependencies
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-241

#217 Extend queue config by including access key and namespace
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.aat.template.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
  charts/reform-scan-notification-service/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-217

#242 Use new config for ServiceBus connection
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-242

#248 Fix queue name config
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.aat.template.yaml
  charts/reform-scan-notification-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-248

#247 Remove ServiceBus connection string from chart
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.aat.template.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
  charts/reform-scan-notification-service/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-247

#249 Replace ServiceBus connection string with access key in functional tests
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/Configuration.java
  src/functionalTest/resources/application.conf
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-249

#252 Upgrade terraform to 0.13.3
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-252

#258 Added db to readiness. Integration test
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/health/ReadinessTest.java
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-258
