Repository hmcts/reform-scan-notification-service, pull requests merged in 2020-04, with the labels that each got.

#80 Add extra log entry for completion
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-80

#82 Clean up logging
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/Notification.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-82

#83 Log notification sending summary
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-83

#84 Rename notification_id DB column
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/Notification.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationMapper.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
  src/main/resources/db/migration/V007__Rename_notification_id_column.sql
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-84

#85 Rename envelope api info model property
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/ProcessNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/out/NotificationInfo.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-85

#87 Handle all exceptions in notification service
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-87

#86 Handling missing and corrupted s2s token
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/exceptionhandler/ResponseExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/AuthServiceTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-86

#93 Remove no longer needed functional test
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/NotificationServiceHealthTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-93

#94 tune config values
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.aat.template.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
  charts/reform-scan-notification-service/values.yaml
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-94

#95 Amend assertions in functional test
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/ProcessNotificationTest.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-95

#105 Add purpose readme
  README.md
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-105

#106 manual dependabot, bump versions
  build.gradle
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-106

#107 Log container
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/Notification.java
Labels: ns:reform-scan, rel:reform-scan-notification-service-pr-107
