Repository hmcts/reform-scan-notification-service, pull requests merged in 2021-06, with the labels that each got.

#503 DTSBPS-616 Use new servicebus lib
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/Configuration.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/ProcessNotificationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/QueueMessageDetails.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/QueueMessageHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParser.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTask.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParserTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-503

#507 Revert servicebus upgrade
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/Configuration.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/ProcessNotificationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/QueueMessageDetails.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/QueueMessageHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParser.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTask.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParserTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-507

#509 DTSBPS-616 Use new servicebus lib
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/Configuration.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/ProcessNotificationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/QueueMessageDetails.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/QueueMessageHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParser.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTask.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParserTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-509

#510 remove unnecessary suppression
  config/owasp/suppressions.xml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-510

#514 remove unnecessary jars dependency management
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-514

#522 Bump org.springframework.boot from 2.5.0 to 2.5.1
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-522

#523 upgrade gradle version
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-523

#527 Update DockerImage to new tagging reference
  Jenkinsfile_CNP
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-527

#529 Use service bus processor client
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTaskTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTask.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-529

#533 DTSBPS-637 add check for queue listener
  build.gradle
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-533

#534 DTSBPS-637 - add new env. var for check job
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-534

#535 DTSBPS-637 use new env var
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.aat.template.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
  charts/reform-scan-notification-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-535

#537 fix assertion in tests
  src/test/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTaskTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-537

#539 DTSBPS-650 upgrade java chart
  charts/reform-scan-notification-service/Chart.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-539
