Repository hmcts/reform-scan-notification-service, pull requests merged in 2021-04, with the labels that each got.

#432 avoid vulnerability CVE-2021-21409
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-432

#431 count for sent and pending notifications added
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/out/NotificationsResponse.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-431

#445 dependabot-bumps
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-445

#451 DTSBPS-496 Add log for message lost exception
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessorTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-451

#454 remove spring-cloud-starter-netflix-hystrix
  build.gradle
  src/main/java/uk/gov/hmcts/reform/notificationservice/Application.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-454

#458 Notifications sorted by id
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-458
