Repository hmcts/reform-scan-notification-service, pull requests merged in 2021-05, with the labels that each got.

#469 Added error description to report
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/out/NotificationInfo.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-469

#477 DTSBPS-532 refactor test
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-477

#481 dependabot bump flyway
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-481

#483 remove netty dependency set
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-483

#487 Search by file name - repo
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-487

#488 Find by zip file name - service layer
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-488

#489 Find by zip file name - controller layer
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationController.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-489

#490 Defined constant to fix quality gateway failure
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-490

#493 fix sonar cube issue
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/Notification.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-493
