Repository hmcts/reform-scan-notification-service, pull requests merged in 2022-09, with the labels that each got.

#980 DTSBPS-1067: Fix CVE-2022-25857
  build.gradle
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-980

#999 DTSBPS-1070 upgrade app-insight
  Dockerfile
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-999

#1002 Revert "DTSBPS-1070 upgrade app-insight (#999)"
  Dockerfile
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1002

#1004 Revert "DTSBPS-1070 upgrade to java 17 (#998)"
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1004

#1005 DTSBPS-1070 add app-insight-connection
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1005

#1007 DTSBPS-1070 upgrade app-insight
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.yaml
  infrastructure/app-insights.tf
  lib/applicationinsights.json
Labels: ns:reform-scan, prd:reform-scan, add-or-update, rel:reform-scan-notification-service-pr-1007

#1008 Revert "DTSBPS-1070 upgrade app-insight (#1007)"
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.yaml
  infrastructure/app-insights.tf
  lib/applicationinsights.json
Labels: ns:reform-scan, prd:reform-scan, destroy, rel:reform-scan-notification-service-pr-1008

#1006 DTSBPS-1070 upgrade to java 17
  Dockerfile
  build.gradle
  config/checkstyle/checkstyle.xml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1006

#1009 use java-17 for Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1009

#1010 Revert "use jdk17 Jenkinsfile_CNP (#1009)"
  Jenkinsfile_CNP
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1010
