Repository hmcts/reform-scan-notification-service, pull requests merged in 2023-11, with the labels that each got.

#1498 FACT-1514 Postgres flexible servers
  build.gradle
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  infrastructure/provider.tf
  infrastructure/tf-db-flexible-secrets.tf
  infrastructure/tf-db-flexible.tf
  infrastructure/variables.tf
Labels: ns:reform-scan, prd:reform-scan, add-or-update, rel:reform-scan-notification-service-pr-1498

#1500 FACT-1530 change aat to use correct servicebus
  charts/reform-scan-notification-service/values.aat.template.yaml
  config/owasp/suppressions.xml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1500

#1501 fixing aat
  Jenkinsfile_CNP
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1501
