Repository hmcts/reform-scan-notification-service, pull requests merged in 2024-08, with the labels that each got.

#1602 Update values.preview.template.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1602

#1599 Remove db image in compose
  docker-compose.yml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1599

#1596 FACT-1906 update dependancies
  README.md
  build.gradle
  charts/reform-scan-notification-service/Chart.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1596
