Repository hmcts/reform-scan-notification-service, pull requests merged in 2024-10, with the labels that each got.

#1620 FACT-1963 Adds db migration script for testing
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/main/resources/db/migration/V012__remove_message_id_constraint.sql
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1620

#1616 FACT-1963 - Notification Sending and Notification Status APIs
  README.md
  build.gradle
  charts/reform-scan-notification-service/Chart.yaml
  charts/reform-scan-notification-service/values.aat.template.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
  charts/reform-scan-notification-service/values.yaml
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/Configuration.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/JmsNotificationsMessageSender.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/JmsProcessNotificationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/ProcessNotificationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/QueueMessageDetails.java
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/QueueMessageHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/config/SchedulerConfigurationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTaskTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/PendingMigrationException.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/SchedulerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/ShedlockConfiguration.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/jms/JmsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/config/jms/JmsReceivers.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/controller/NotificationController.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationMapper.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationRepository.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/data/NotificationStatus.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/exception/FailedDependencyException.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/exception/GlobalControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/exception/NotFoundException.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/exception/UnknownMessageProcessingResultException.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/exceptionhandler/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/in/NotificationMsg.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/model/in/NotifyRequest.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/JmsNotificationMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageHandler.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageMapper.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageParser.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/service/UnauthenticatedException.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/task/NotificationMessageProcessTask.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/task/PendingNotificationsTask.java
  src/main/java/uk/gov/hmcts/reform/notificationservice/util/NotificationConverter.java
  src/main/resources/db/migration/V012__remove_message_id_constraint.sql
  src/test/java/uk/gov/hmcts/reform/notificationservice/service/NotificationServiceTest.java
Labels: ns:reform-scan, prd:reform-scan, enable_keep_helm, rel:reform-scan-notification-service-pr-1616

#1622 FACT-2013 app insights refine logging
  lib/applicationinsights.json
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1622
