Repository hmcts/reform-scan-notification-service, pull requests merged in 2024-07, with the labels that each got.

#1586 FACT-1839 switch to temp db
  charts/reform-scan-notification-service/values.aat.template.yaml
  charts/reform-scan-notification-service/values.preview.template.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1586

#1589 FACT-1881 changes to servicebus and docker image
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/reform-scan-notification-service/Chart.yaml
  docker/database/Dockerfile
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1589

#1587 Update values.aat.template.yaml
  charts/reform-scan-notification-service/values.aat.template.yaml
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1587, enable_keep_helm

#1591 FACT-1839 remove unused db
  infrastructure/tf-db-flexible-secrets.tf
  infrastructure/tf-db-flexible.tf
Labels: ns:reform-scan, prd:reform-scan, aat/destroy, prod/add-or-update, rel:reform-scan-notification-service-pr-1591
