Repository hmcts/reform-scan-notification-service, pull requests merged in 2024-11, with the labels that each got.

#1619 update LaunchDarkly to version 7.5.0
  build.gradle
  src/main/java/uk/gov/hmcts/reform/notificationservice/launchdarkly/LaunchDarklyClient.java
  src/test/java/uk/gov/hmcts/reform/notificationservice/launchdarkly/LaunchDarklyClientTest.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1619

#1623 Fact 2037
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
Labels: ns:reform-scan, prd:reform-scan, aat/add-or-update, prod/add-or-update, rel:reform-scan-notification-service-pr-1623

#1629 update func tests
  src/functionalTest/java/uk/gov/hmcts/reform/notificationservice/JmsNotificationsMessageSender.java
Labels: ns:reform-scan, prd:reform-scan, rel:reform-scan-notification-service-pr-1629
